<header>
    <div class="user-info">
        <h4>{{this.userName()}}</h4>
        <button (click)="logout()">Logout</button>
    </div>

    <div class="navigation">
        @if(this.isAdmin()){ <a [routerLink]="['/admin','all-task']" routerLinkActive="router-link-active"
            class="nav-link">All
            Tasks</a>
        <a [routerLink]="['/admin','new-task']" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Add Task</a>}
        @if(!this.isAdmin()){<a [routerLink]="['/user','all-task']" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }" class="nav-link">All Tasks</a>}
    </div>
</header>