<h1>Update</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <label for="task-title">Task title</label>
    <input class="task-title" name="task-title" formControlName="title" readonly />

    <label for="task-status">Task Status</label>
    <select formControlName="status" formControlName="status">
        <option [ngValue]="0">Pending</option>
        <option [ngValue]="1">In Progress</option>
        <option [ngValue]="2">Complete</option>
    </select>

    <label for="task-description">Task Description</label>
    <input class="task-description" id="task-description" formControlName="description" name="taskDescription" />

    <label for="task-date">Due Date</label>
    <input class="task-date" name="task-date" type="date" formControlName="dueDate" />

    <label for="task-user-id">Assigned to</label>
    <select formControlName="userId" name="task-user-id">
        <option *ngFor="let user of users" [value]="user.userId">{{user.userName}}</option>
    </select>

    <button type="submit">Submit</button>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
    </div>
</form>