<div class="auth-container">

    <h1>Register</h1>
    <form (ngSubmit)="onRegister()">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required />

        <button type="submit">Register</button>
        <button type="button" [routerLink]="[ '../', 'login']">Want to Login</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>