<form (ngSubmit)="onSubmit()">
    <label for="task-title">Task title</label>
    <input class="task-title" name="task-title" [value]="task!.title" readonly />

    <label for="task-status">Task Status</label>
    <input [value]="task!.status" name="task-status" type="number" [(ngModel)]="task!.status" />

    <label for="task-description">Task Description</label>
    <input class="task-description" id="task-description" [(ngModel)]="task!.description" name="taskDescription" />

    <label for="task-user-id">Assigned to</label>
    <select [(ngModel)]="task!.userId" name="task-user-id">
        <option *ngFor="let user of users" [value]="user.userId">{{user.userName}}</option>
    </select>

    <button type="submit">Submit</button>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
    </div>
</form>