<div class="container">
    <input type="text" [(ngModel)]="searchtext" placeholder="Search tasks..." class="search-input" />

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    @if(tasks && tasks.length > 0) {
    <ul class="task-list">
        @for(task of tasks; track task.title) {
        <li class="task-item">
            <div class="task-header">
                <span class="task-title">{{ task.title }}</span>
                <div class="task-buttons">
                    <a class="edit-button" [routerLink]="['..', 'update-task', task.title]"
                        routerLinkActive="router-link-active">Edit</a>
                    <button class="delete-button" (click)="deleteTask(task.title)">
                        Delete
                    </button>
                </div>
            </div>
            <span [ngClass]="{
          'task-status-done': task.status == 2,
          'task-status-inProgress': task.status == 1,
          'task-status-pending': task.status == 0
        }">Status: {{ task.status| statusPipe }}</span>
            <p class="task-description">{{ task.description }}</p>
            <p class="task-description">DueDate: {{ task.dueDate | date:'shortDate'}}</p>
            <span class="task-user-id">Assigned to: {{ task.userName }}</span>
        </li>
        }
    </ul>
    } @else {
    <p>No tasks found.</p>
    }
</div>

<router-outlet />