<form (ngSubmit)="onSearchTask()" [formGroup]="form">
    <input type="text" name="title" placeholder="Title" formControlName="title">

    <input type="date" name="date" placeholder="yyyy-mm-dd" formControlName="date">

    <select name="status" formControlName="status">
        <option [ngValue]="null">Selet an option</option>
        <option [ngValue]="0">Pending</option>
        <option [ngValue]="1">In Progress</option>
        <option [ngValue]="2">Completed</option>
    </select>
    <button type="submit">Search Task</button>
</form>

<label for="sortBy" class="sortByLabel">Sort By</label>
<div style="display: flex; gap: 10px; align-items: center;">
    <select name="sortBy" style=" font-size: 14px;" #sortBySelect
        (change)="onSortChange(sortBySelect.value, sortOrderSelect.value)">
        <option value="title">Title</option>
        <option value="status">Status</option>
        <option value="userName">Username</option>
        <option value="dueDate">Due Date</option>
    </select>
    <select name="sortOrder" style=" font-size: 14px;" #sortOrderSelect
        (change)="onSortChange(sortBySelect.value, sortOrderSelect.value)">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
</div>


<div *ngIf="loading&&!errorMessage">Loading......</div>
<div *ngIf="errorMessage&&!loading" class="error-message">{{ errorMessage }}</div>

@if(!loading&&tasks && tasks.length > 0) {
<ul class="task-list">
    @for(task of tasks; track task.title) {
    <li class="task-item">
        <div class="task-header">
            <span class="task-title">{{ task.title }}</span>
            <div class="task-buttons">
                <a class="edit-button" [routerLink]="['..', 'update-task', task.title]"
                    routerLinkActive="router-link-active">Edit</a>
                <button class="delete-button" (click)="handleDelete(task.title)">
                    Delete
                </button>
            </div>
        </div>
        <span [ngClass]="{
          'task-status-done': task.status == 2,
          'task-status-inProgress': task.status == 1,
          'task-status-pending': task.status == 0
        }">Status: {{ task.status| statusPipe }}</span>
        <p class="task-description">{{ task.description }}</p>
        <p class="task-description">DueDate: {{ task.dueDate | date:'fullDate'}}</p>
        <span class="task-user-id">Assigned to: {{ task.userName }}</span>
    </li>
    }
</ul>
} @else if(!loading&&!tasks || !loading&&tasks?.length===0) {
<p>No tasks found.</p>
}

<div class="popup-overlay" *ngIf="showPopup" (click)="closePopup($event)">
    <div class="popup" (click)="$event.stopPropagation()">
        <p>Delete <span class="highlight-task">{{ taskToDelete }}</span> task?</p>
        <div class="popup-buttons">
            <button class="btn-danger" (click)="deleteTask(taskToDelete!)">Yes</button>
            <button class="btn-cancel" (click)="showPopup = false">Cancel</button>
        </div>
    </div>
</div>

<router-outlet />
