<div class="container">

    <input type="text" [(ngModel)]="searchtext" placeholder="Search tasks..." class="search-input" />
    @if(filteredTasks){
    <ul class="task-list">

        @for(task of filteredTasks; track task.description){
        <li class="task-item">
            <div class="task-header">
                <span class="task-title">{{task.title}}</span>
                <div class="task-buttons">
                    <select [(ngModel)]="taskStatus" (change)="onStatusChange(task.title, task.status)">
                        <option [value]="0">Pending</option>
                        <option [value]="1">In Progress</option>
                        <option [value]="2">Completed</option>
                    </select>
                </div>
            </div>
            <span [ngClass]="{
                                'task-status-pending': task.status == 0,
                                'task-status-inProgress': task.status == 1,
                                'task-status-done': task.status == 2
                                }">Status: {{task.status | statusPipe}}</span>
            <p class="task-description">{{task.description}}</p>
        </li>
        }
    </ul>
    } @else {
        <p>No Tasks found.</p>
    }
</div>