@if(switchLogin()){

<h1>Login</h1>

<form (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>

    <button type="submit">Login</button>
    <button type="button" (click)="switchLoginMethod()">Want to Register</button>
</form>
}

@else {
<h1>Register</h1>

<form (ngSubmit)="onRegister()">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>

    <button type="submit">Register</button>
    <button type="button" (click)="switchLoginMethod()">Want to Login</button>
</form>
}